<a href="https://colab.research.google.com/github/HardikxLabeitazer/DataScience-Practice-/blob/master/DataWrangling3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/DataAnalysis/earthquakes.csv')
df.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...

*FILTERING*

In [3]:
df.mag>2

0       False
1       False
2        True
3       False
4        True
        ...
9327    False
9328    False
9329     True
9330    False
9331    False
Name: mag, Length: 9332, dtype: bool

In [4]:
df[df.mag>=7.0]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
837,green,4.1,1000haa3,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.763,3.0,14.0,",us1000haa3,pt18283003,at00pgehsk,",7.0,mww,...,",us,pt,at,",reviewed,1539204500290,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",600.0,1539378744253,https://earthquake.usgs.gov/earthquakes/eventp...
5263,red,8.4,1000h3p4,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.589,18.0,27.0,",us1000h3p4,us1000h4p4,",7.5,mww,...,",us,us,",reviewed,1538128963480,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",480.0,1539123134531,https://earthquake.usgs.gov/earthquakes/eventp...

In [5]:
df.loc[df.mag>=7,['alert','mag','magType','title','tsunami','type']]

,alert,mag,magType,title,tsunami,type
837,green,7.0,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [6]:
df.loc[(df.tsunami==1)&(df.alert=='red'),['alert','mag','magType','title','tsunami','type']]

,alert,mag,magType,title,tsunami,type
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [7]:
df.loc[(df.tsunami==1)|(df.alert=='red'),['alert','mag','magType','title','tsunami','type']]

,alert,mag,magType,title,tsunami,type
36,NaN,5.0,mww,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,earthquake
118,green,6.7,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
501,green,5.6,mww,"M 5.6 - 128km SE of Kimbe, Papua New Guinea",1,earthquake
799,green,6.5,mww,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,earthquake
816,green,6.2,mww,"M 6.2 - 94km SW of Kokopo, Papua New Guinea",1,earthquake
...,...,...,...,...,...,...
8561,NaN,5.4,mb,"M 5.4 - 228km S of Taron, Papua New Guinea",1,earthquake
8624,NaN,5.1,mb,"M 5.1 - 278km SE of Pondaguitan, Philippines",1,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake
9175,NaN,5.2,mb,"M 5.2 - 126km N of Dili, East Timor",1,earthquake
9304,NaN,5.1,mb,"M 5.1 - 34km NW of Finschhafen, Papua New Guinea",1,earthquake

In [8]:
df.loc[(df.place.str.contains('Alaska'))&(df.alert.notnull()),['alert','mag','magType','title','tsunami','type']]

,alert,mag,magType,title,tsunami,type
1015,green,5.0,ml,"M 5.0 - 61km SSW of Chignik Lake, Alaska",1,earthquake
1273,green,4.0,ml,"M 4.0 - 71km SW of Kaktovik, Alaska",1,earthquake
1795,green,4.0,ml,"M 4.0 - 60km WNW of Valdez, Alaska",1,earthquake
2752,green,4.0,ml,"M 4.0 - 67km SSW of Kaktovik, Alaska",1,earthquake
3260,green,3.9,ml,"M 3.9 - 44km N of North Nenana, Alaska",0,earthquake
4101,green,4.2,ml,"M 4.2 - 131km NNW of Arctic Village, Alaska",0,earthquake
6897,green,3.8,ml,"M 3.8 - 80km SSW of Kaktovik, Alaska",0,earthquake
8524,green,3.8,ml,"M 3.8 - 69km SSW of Kaktovik, Alaska",0,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake

In [9]:
df.loc[(df.place.str.contains(r'CA|California$')) & (df.mag>3.8),['alert','mag','magType','title','tsunami','type']]

,alert,mag,magType,title,tsunami,type
1465,green,3.83,mw,"M 3.8 - 109km WNW of Trinidad, CA",0,earthquake
2414,green,3.83,mw,"M 3.8 - 5km SW of Tres Pinos, CA",1,earthquake

In [10]:
df.loc[df.mag.between(6.5,7.5),['alert','mag','magType','title','tsunami','type']]

,alert,mag,magType,title,tsunami,type
118,green,6.7,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
799,green,6.5,mww,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,earthquake
837,green,7.0,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake
4363,green,6.7,mww,"M 6.7 - 263km NNE of Ndoi Island, Fiji",1,earthquake
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [12]:
df.loc[df.magType.isin(['mw','mwb']),['alert','mag','magType','title','tsunami','type']]

,alert,mag,magType,title,tsunami,type
995,NaN,3.35,mw,"M 3.4 - 9km WNW of Cobb, CA",0,earthquake
1465,green,3.83,mw,"M 3.8 - 109km WNW of Trinidad, CA",0,earthquake
2414,green,3.83,mw,"M 3.8 - 5km SW of Tres Pinos, CA",1,earthquake
4988,green,4.41,mw,"M 4.4 - 1km SE of Delta, B.C., MX",1,earthquake
6307,green,5.80,mwb,"M 5.8 - 297km NNE of Ndoi Island, Fiji",0,earthquake
8257,green,5.70,mwb,"M 5.7 - 175km SSE of Lambasa, Fiji",0,earthquake

In [13]:
[df.mag.idxmin(),df.mag.idxmax()]

[2409, 5263]

In [15]:
df.loc[[df.mag.idxmin(),df.mag.idxmax()],['alert','mag','magType','title','tsunami','type']]

,alert,mag,magType,title,tsunami,type
2409,NaN,-1.26,ml,"M -1.3 - 41km ENE of Adak, Alaska",0,earthquake
5263,red,7.50,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [16]:
df1 = pd.read_csv("/content/drive/MyDrive/DataAnalysis/earthquakes.csv",usecols=['time','title','place','magType','mag','alert','tsunami'])

In [17]:
df1.head()

,alert,mag,magType,place,time,title,tsunami
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0

In [19]:
df1['source']='USGS API'
df1.head()

,alert,mag,magType,place,time,title,tsunami,source
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,USGS API
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,USGS API
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,USGS API
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,USGS API
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,USGS API

In [20]:
df1['mag_negative']=df1.mag<0
df1.head()

,alert,mag,magType,place,time,title,tsunami,source,mag_negative
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,USGS API,False
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,USGS API,False
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,USGS API,False
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,USGS API,False
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,USGS API,False

In [21]:
df1.place.str.extract(r',(.*$)')[0].sort_values().unique()

array([' Afghanistan', ' Alaska', ' Argentina', ' Arizona', ' Arkansas',
       ' Australia', ' Azerbaijan', ' B.C., MX', ' Barbuda', ' Bolivia',
       ' Bonaire, Saint Eustatius and Saba ', ' British Virgin Islands',
       ' Burma', ' CA', ' California', ' Canada', ' Chile', ' China',
       ' Christmas Island', ' Colombia', ' Colorado', ' Costa Rica',
       ' Dominican Republic', ' East Timor', ' Ecuador',
       ' Ecuador region', ' El Salvador', ' Fiji', ' Greece',
       ' Greenland', ' Guam', ' Guatemala', ' Haiti', ' Hawaii',
       ' Honduras', ' Idaho', ' Illinois', ' India', ' Indonesia',
       ' Iran', ' Iraq', ' Italy', ' Jamaica', ' Japan', ' Kansas',
       ' Kentucky', ' Kyrgyzstan', ' Martinique', ' Mauritius',
       ' Mayotte', ' Mexico', ' Missouri', ' Montana', ' NV', ' Nevada',
       ' New Caledonia', ' New Hampshire', ' New Mexico', ' New Zealand',
       ' Nicaragua', ' North Carolina', ' Northern Mariana Islands',
       ' Oklahoma', ' Oregon', ' Pakistan', ' Papua New Guinea', ' Peru',
       ' Philippines', ' Puerto Rico', ' Romania', ' Russia',
       ' Saint Helena', ' Solomon Islands', ' Somalia', ' South Africa',
       ' South Carolina', ' South Georgia and the South Sandwich Islands',
       ' South Sandwich Islands', ' Taiwan', ' Tajikistan', ' Tennessee',
       ' Texas', ' Tonga', ' Turkey', ' U.S. Virgin Islands', ' Utah',
       ' Uzbekistan', ' Vanuatu', ' Vermont', ' Washington', ' Wyoming',
       ' Yemen', nan], dtype=object)

In [22]:
df1['parsed_place']=df1.place.str.replace(
    r'.* of','',regex=True 
).str.replace(
    'the',''
).str.replace(r'CA$','California',regex=True
).str.replace(
    r'NV$','Nevada',regex=True
).str.replace(
    r'MX$','Mexico',regex=True
).str.replace(
    r' region$','',regex=True
).str.replace(
    'northern',''
).str.replace(
    'Fiji Islands','Fiji'
).str.replace(
    r'^.*,','',regex=True
).str.strip()

In [23]:
df1.parsed_place.sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Ascension Island', 'Australia', 'Azerbaijan', 'Balleny Islands',
       'Barbuda', 'Bolivia', 'British Virgin Islands', 'Burma',
       'California', 'Canada', 'Carlsberg Ridge',
       'Central East Pacific Rise', 'Central Mid-Atlantic Ridge', 'Chile',
       'China', 'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'El Salvador',
       'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala', 'Haiti',
       'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indian Ocean Triple Junction', 'Indonesia', 'Iran', 'Iraq',
       'Italy', 'Jamaica', 'Japan', 'Kansas', 'Kentucky',
       'Kermadec Islands', 'Kuril Islands', 'Kyrgyzstan', 'Martinique',
       'Mauritius', 'Mayotte', 'Mexico', 'Mid-Indian Ridge', 'Missouri',
       'Montana', 'Nevada', 'New Caledonia', 'New Hampshire',
       'New Mexico', 'New Zealand', 'Nicaragua',
       'Norrn East Pacific Rise', 'Norrn Mariana Islands',
       'Norrn Mid-Atlantic Ridge', 'North Carolina', 'Oklahoma', 'Oregon',
       'Pacific-Antarctic Ridge', 'Pakistan', 'Papua New Guinea', 'Peru',
       'Philippines', 'Prince Edward Islands', 'Puerto Rico',
       'Queen Charlotte Islands', 'Romania', 'Russia',
       'Saint Eustatius and Saba', 'Saint Helena', 'Socotra',
       'Solomon Islands', 'Somalia', 'Souast Indian Ridge',
       'Sourn East Pacific Rise', 'Sourn Mid-Atlantic Ridge',
       'South Africa', 'South Carolina',
       'South Georgia and  South Sandwich Islands',
       'South Sandwich Islands', 'Southwest Indian Ridge', 'Taiwan',
       'Tajikistan', 'Tennessee', 'Texas', 'Tonga', 'Turkey',
       'U.S. Virgin Islands', 'Utah', 'Uzbekistan', 'Vanuatu', 'Vermont',
       'Washington', 'Western Indian-Antarctic Ridge', 'Western Xizang',
       'Wyoming', 'Yemen', 'norrn Sumatra'], dtype=object)

In [25]:
df1.assign(
    in_ca = df1.parsed_place.str.endswith('California'),
    in_alaska = df1.parsed_place.str.endswith('Alaska'),
    neither=lambda x:~x.in_ca & ~x.in_alaska
).sample(5,random_state=0)

,alert,mag,magType,place,time,title,tsunami,source,mag_negative,parsed_place,in_ca,in_alaska,neither
7207,NaN,4.80,mwr,"73km SSW of Masachapa, Nicaragua",1537749595210,"M 4.8 - 73km SSW of Masachapa, Nicaragua",0,USGS API,False,Nicaragua,False,False,True
4755,NaN,1.09,ml,"28km NNW of Packwood, Washington",1538227540460,"M 1.1 - 28km NNW of Packwood, Washington",0,USGS API,False,Washington,False,False,True
4595,NaN,1.80,ml,"77km SSW of Kaktovik, Alaska",1538259609862,"M 1.8 - 77km SSW of Kaktovik, Alaska",0,USGS API,False,Alaska,False,True,False
3566,NaN,1.50,ml,"102km NW of Arctic Village, Alaska",1538464751822,"M 1.5 - 102km NW of Arctic Village, Alaska",0,USGS API,False,Alaska,False,True,False
2182,NaN,0.90,ml,"26km ENE of Pine Valley, CA",1538801713880,"M 0.9 - 26km ENE of Pine Valley, CA",0,USGS API,False,California,True,False,False

In [26]:
tsunami = df1[df1.tsunami==1]
no_tsunami = df1[df1.tsunami==0]

In [27]:
tsunami.shape,no_tsunami.shape

((61, 10), (9271, 10))

In [28]:
pd.concat([tsunami,no_tsunami]).shape

(9332, 10)

In [29]:
tsunami.append(no_tsunami).shape

(9332, 10)

In [30]:
additional_columns = pd.read_csv('/content/drive/MyDrive/DataAnalysis/earthquakes.csv',usecols=['tz','felt','ids'])

In [31]:
pd.concat([df1.head(2),additional_columns.head(2)],axis=1)

,alert,mag,magType,place,time,title,tsunami,source,mag_negative,parsed_place,felt,ids,tz
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,USGS API,False,California,NaN,",ci37389218,",-480.0
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,USGS API,False,California,NaN,",ci37389202,",-480.0

In [32]:
pd.concat([
           tsunami.head(2),
           no_tsunami.head(2).assign(type='earthquake')
],
join='inner')

,alert,mag,magType,place,time,title,tsunami,source,mag_negative,parsed_place
36,NaN,5.00,mww,"165km NNW of Flying Fish Cove, Christmas Island",1539459504090,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,USGS API,False,Christmas Island
118,green,6.70,mww,"262km NW of Ozernovskiy, Russia",1539429023560,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,USGS API,False,Russia
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,USGS API,False,California
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,USGS API,False,California

In [33]:
del df1['source']
df1.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami',
       'mag_negative', 'parsed_place'],
      dtype='object')

In [34]:
mag_negative = df1.pop('mag_negative')
df1.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami',
       'parsed_place'],
      dtype='object')

In [35]:
mag_negative.value_counts()

False    8841
True      491
Name: mag_negative, dtype: int64

In [36]:
df1[mag_negative].head()

,alert,mag,magType,place,time,title,tsunami,parsed_place
39,NaN,-0.10,ml,"6km NW of Lemmon Valley, Nevada",1539458844506,"M -0.1 - 6km NW of Lemmon Valley, Nevada",0,Nevada
49,NaN,-0.10,ml,"6km NW of Lemmon Valley, Nevada",1539455017464,"M -0.1 - 6km NW of Lemmon Valley, Nevada",0,Nevada
135,NaN,-0.40,ml,"10km SSE of Beatty, Nevada",1539422175717,"M -0.4 - 10km SSE of Beatty, Nevada",0,Nevada
161,NaN,-0.02,md,"20km SSE of Ronan, Montana",1539412475360,"M -0.0 - 20km SSE of Ronan, Montana",0,Montana
198,NaN,-0.20,ml,"60km N of Pahrump, Nevada",1539398340822,"M -0.2 - 60km N of Pahrump, Nevada",0,Nevada

In [37]:
df1.drop([0,1]).head(2)

,alert,mag,magType,place,time,title,tsunami,parsed_place
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,California
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,California

In [38]:
cols_to_drop = [
                col for col in df1.columns
                if(col not in [
                      'alert','mag','title','time','tsunami'        
                ])
]
df1.drop(columns=cols_to_drop).head()

  alert   mag           time                          title  tsunami
0   NaN  1.35  1539475168010  M 1.4 - 9km NE of Aguanga, CA        0
1   NaN  1.29  1539475129610  M 1.3 - 9km NE of Aguanga, CA        0
2   NaN  3.42  1539475062610  M 3.4 - 8km NE of Aguanga, CA        0
3   NaN  0.44  1539474978070  M 0.4 - 9km NE of Aguanga, CA        0
4   NaN  2.16  1539474716050  M 2.2 - 10km NW of Avenal, CA        0